
body {
  font-family: 'Roboto', sans-serif;
}


h1 {
  color: blue;
  background-color: white;
  border: none;
}

p {
  color: black;
}


/* Add a black background color to the top navigation */
.navbar {
  background-color: #FFFFFF;
  overflow: hidden;
  width: 700px;
  margin: auto;
}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.navbar a.active {
  background-color: #04AA6D;
  color: white;
}


.map {
    height: 400px;
    width: 100%;
}
